---
const {title} = Astro.props;
---

<div class=" w-140 h-80  ">
    <h1 class="flex bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 text-transparent bg-clip-text  text-5xl mb-1 ">{title}</h1> 
    
    <h4 class="text-lg font-thin mb-5"><strong>Desarrollador Web & Blockchain</strong>  </h4>
    <p class="text-base opacity-90 ml-0 h-40 w-100 mx-auto ">creación de aplicaciones seguras, escalables y descentralizadas. Combino tecnologías web modernas como React, Tailwind CSS y Node.js con el poder de contratos inteligentes en Solidity para ofrecer soluciones innovadoras.</p>
</div>