<nav class="fixed flex gap-6 w-300  h-15  rounded-full text-base  to-pink-500   inset-0 mx-auto mt-2">
        <img src="marca-personal-icon.webp" alt="marca personal" class=" h-18 ml-6 mr-185  ml-3 font-thin" >
        <a href="" class="  pt-4 my-auto  hover:scale-105  rounded-full px-1.5 py-1.5      ">Inicio</a>
        <a href="" class="  pt-4  my-auto  hover:scale-105 rounded-full px-1.5 py-1.5  ">Proyectos</a>
        <a href="" class="    my-auto hover:scale-105 rounded-full px-1.5 py-1.5  pt-4     ">Sobre mi</a>
</nav>          