---
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";

---

<section class="w-300  mx-auto h-100  rounded-2xl ">
    <div class="flex h-80 w-320 mt-20 gap-25">
        <div class="h-40">
            <div class="flex gap-4 ">   
                <h1 class="text-7xl w-94 p-2  px-1 mb-5   bg-gradient-to-r from-fuchsia-600 to-purple-600 text-transparent bg-clip-text ml-8 mt-10 gloss-effect" >WELCOME</h1>
            </div>
            <div class=" gap-34 ">
                <aside class=" w-140 h-60  ml-8"> 
                    <div class="flex">
                        <h1 class="text-4xl font-bold mb-2 my-name name-animation">Soy Luis Cavadia</h1>
                        <span class="h-6 mt-3 ml-4 px-3 rounded-full bg-gradient-to-r from-amber-600 to-pink-400/50 font-normal " >Disponible para trabajar</span>
                    </div>
                    <p class="w-full text-lg font-normal "><strong class="bg-gradient-to-r from-fuchsia-600 to-purple-600 text-transparent bg-clip-text text-xl ">Desarrollador web Full Stack</strong>  de Barranquilla, Colombia. <p class="font-normal text-xl"> Me especializo en crear productos digitales que sean rápidos, accesibles y visualmente atractivos. Siempre estoy aprendiendo nuevas tecnologías para mejorar mis habilidades.</p> 
                    </p>
                </aside>
            </div>
        </div>
        <figure>
            <img src="./portatil-image.webp" alt="" class="w-135  h-120   ">
        </figure>
    </div>  

 

    </div>
    </div>
    
    <aside class="flex ml-8 mt-8" >
        <figure class=" flex gap-4 ">
            <a href="https://github.com/CodeRuby999" class="pt-1 h-10 w-28 flex  rounded-full px-1.5  bg-gradient-to-r from-fuchsia-600 to-purple-600/1  hover:bg-purple-300/60">
                <Github></Github>
                <p class=" pt-1 ml-2">Github</p>
            </a>

            <a href="https://www.linkedin.com/in/luis-fernando-cavadia-a9071b312/" class="pt-1 h-10 w-30 flex  rounded-full px-2 gap-1 bg-gradient-to-r from-purple-600/50 to-rose-800/1 hover:bg-purple-300/60  my-auto">
                <Linkedin class=" h-7 w-6 ml-1 py-0.5 mt-0.5 "></Linkedin>
                <p class="pt-1 ml-2">Linkedin</p>
            </a>
        </figure>
    </aside>
</section>  